# Dependencies
node_modules/

# Build outputs
dist/
.parcel-cache/

# Cypress test artifacts
cypress/screenshots/
cypress/videos/

# Editor files
.vscode/

# Environment files
.env

# Windows OS files
Thumbs.db
ehthumbs.db 